body {
  background: #FFFFFF;
}
h1 {
  text-align: center;
  
}
.menuPrincipal{
  position: absolute;
  top: 0;
  left: 0;
  background-color: gray;
  width: 100%;
  height: 45px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }
 li {
float: left;
 }
 li a{
   display: block;
   color: #FFFFFF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 li a:hover{
   background:yellow;
   color: black;
 }
 .rodape{
   width: 100%;
   height: 50px; 
   background: gray;
   position: absolute;
   bottom: 0px;
   left: 0;
   font-size: large;
   display: flex;
   justify-content: center;
   color: #FFFFFF;
 }
 .título{
  position: absolute;
  text-align: center;
  left: 40%;
  font-size: x-large;
  background-color: blue;
  color: #FFFFFF;

 }

 .conteúdo{
 position: absolute;
 top: 5%;
 
 }
.Aviaçãocomercial {
 position: absolute;
 top: 0px;
 left: 39%;
 width: 60%;
 height: 200px;
 background: 0;
 margin: 10px;
 border-color: 0;
 border-width: 15px;
 border-style: 0;
 padding: 20px;
 display: flex;
 justify-content: end;
 font-size: small;

}
 

 