body {
  background: #FFFFFF;
}
h1 {
  text-align: center;
}
.caixa1 {
  background: blue;
  position: absolute;
  color: #FFFFFF;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
}
.caixa2 {
  background: red;
  position: absolute;
  color: #FFFFFF;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: : 0;
}
